.burger_constructor {
	display: flex;
	flex-direction: column;
	width: 600px;
	padding-bottom: 20px;
	color: var(--text-primary-color);
}

.burger_components {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fillings_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: calc(100vh - 500px);
	margin: 0;
	padding: 0;
	padding-right: 8px;
	overflow-y: auto;
	list-style-type: none;
}

.order_details {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
}

.total_price {
	display: flex;
	align-items: center;
	gap: 10px;
}

.empty_bun {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	max-width: 536px;
	margin-left: calc(var(--offset-base-size) * 8);
	padding: 28px 24px;
	color: #f2f2f3;
	font-size: 16px;
	background: var(--background-element);
	border-radius: var(--common-border-radius-s);
}

.empty_bun_top {
	border-radius: var(--top-constructor-item-border-radius);
}

.empty_bun_bottom {
	border-radius: var(--bottom-constructor-item-border-radius);
}

.empty_fillings {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	max-width: 536px;
	margin-left: calc(var(--offset-base-size) * 8);
	padding: 28px 24px;
	color: #f2f2f3;
	font-size: 16px;
	background: var(--background-element);
	border-radius: var(--common-border-radius-s);
}

.drop_indicator {
	border: 2px dashed #a913ff;
}
